/**
 * 主页样式
 */
#header{
	background: url(../images/bg_nav_rep.png) repeat-x;
	.links{
		.item{
			float: left;
			list-style: none;
			&.selected{
				background: #242630;
			}
		}
		a{
			color: #fff;
			&:hover{
				background: #484c57;
			}
		}
	}
}
.slider{
	border-bottom: 1px solid #cacaca;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.slider-item{
	&.slider-0{
		a img{
			width: 100%;
			height: 100%;
		}
	}
}
.main{
	.area{
		.area-hd{

		}
	}
	.works{
		.work-item a{
			width: 300px;
			height: 200px;
			//box-shadow: 2px 2px 3px #ddd;
			box-shadow: 0 0 3px #48a3ef;
			display: inline-block;
			margin-top: 2px;
			margin-left: 1px;
			&:hover{
				//box-shadow: 0 0 3px #48a3ef;
			}
		}
		.work-cover{
			//box-shadow: 0 0 3px #48a3ef;
			h3{
				margin-top: 20px;
			}
			p{
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40px;
				text-align: left;
			}
		}
	}
}
.about{
	.about-tab{
		text-align: center;
		font-size: 14px;
		position: relative;
		li{
			position: relative;
			z-index: 9;
			cursor: pointer;
			border-bottom: 1px solid #999;
			&.current{
				border-bottom: 3px solid rgb(39, 124, 239);
				color: rgb(39, 124, 239);
				top:-1px;
			}
			&.kong{
				width: 470px;
				cursor: auto;
			}
		}
	}
	.about-container{
		margin-top: 25px;
		.about-content{
			padding: 0px 50px;
			font-size: 16px;
			line-height: 45px;
		}
	}
}
#footer{
	background-color: #474443;
	color: #fff;
	a{
		color: #fff;
	}
}