/**
 * 布局样式
 */
$layout-width: 999px;

@mixin center(){
	margin-left: auto;
	margin-right: auto;
}

body{
	padding-top: 60px;
}
#header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	z-index: 99;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	.header-wrap{
		width: $layout-width;
		@include center;
		overflow: hidden;
	}
	.logo{
		display: block;
		float: left;
		margin: 12px 35px 0 0;
	}
	.links{
		float: left;
		overflow: hidden;
		height: 60px;
		line-height: 60px;
		margin: 0 40px 0 0;
		padding: 0;
		a{
			display: inline-block;
			padding: 0 30px;
		}
	}
}
.slider{
	width: 100%;
	height: 430px;
	position: relative;
	.slider-item{
		position: absolute;
		width: 100%;
		height: 430px;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.bullet{
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: 50px;
	}
}
.main{
	width: $layout-width + 10;
	@include center;
	.area{
		margin-top: 30px;
		.area-hd{
			height: 40px;
			margin: 0 0 20px 0;
			padding: 0 0 0 20px;
		}
	}
}

.works{
	min-height: 500px;
	.work-list{
		overflow: hidden;
		.work-item{
			float: left;
			width: 300px;
			height: 200px;
			padding: 0 30px 20px 0;
			position: relative;
			overflow: hidden;
			a>img{
				width: 100%;
				height: 100%;
				border: 1px solid #cacaca;
			}
			.work-cover{
				position: absolute;
				top: 0px;
				left: -300px;
				width: 300px;
				height: 200px;
				background-color: #fff;
				z-index: -1;
				border:1px solid #cacaca;
				cursor: pointer;
				text-align: center;
			}
		}
	}
}

.about{
	.about-tab{
		list-style: none;
		overflow: hidden;
		li{
			float: left;
			height: 45px;
			line-height: 45px;
			width: 130px;
			a{
				display: block;
			}
		}
	}
	.about-container{
		.about-content{
			width: 100%;
			min-height: 400px;
			height: 500px;
			display: none;
			transition:all .5s ease 0s;
			&.current{
				display: block;
			}
		}
	}
}
#footer{
	margin-top: 30px;
	.footer-wrap{
		width: $layout-width;
		@include center;
		line-height: 40px;
		.footer-l{
			float: left;
			width: 300px;
			overflow: hidden;
			padding: 20px 0;
		}
		.footer-r{
			float: right;
			padding: 20px 0;
			a,span{
				padding: 0 10px;
			}
		}
	}
}